<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coin_dino">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.ca-app-pub-3108242646730560~5473093730"
            android:value="ca-app-pub-3108242646730560~5473093730"/>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
